/* Base Application Styles */

/* http://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {

}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 600px;
}

.userVideoStream {
  min-height: 150px;
  padding: 8px;
}

.p2pStatus {
  padding: 8px;
}

.addPeer {
  padding: 8px;
}

.peerList {
  padding: 8px;
}
.peerView {
  margin-bottom: 16px;
}
